<div class="row">     
    <div class="col-md-12">         
        <h2>{{ employee.firstName }} {{ employee.lastName }} - Employee: {{ employee.employeeNum }}</h2>         
        <hr />

        <form method="post" action="/employee/update">             
            <fieldset>                 
                <legend>Personal Information</legend>                 
                <div class="row">                     
                    <div class="col-md-6">                         
                        <div class="form-group">                             
                            <label for="firstName">First Name:</label>                             
                            <input class="form-control" id="firstName" name="firstName" type="text" value="{{ employee.firstName }}" />                         
                        </div>
                    </div>

                    <div class="col-md-6">                         
                        <div class="form-group">                             
                            <label for="lastName">Last Name:</label>                             
                            <input class="form-control" id="lastName" name="lastName" type="text" value="{{ employee.lastName }}" />                         
                        </div>                     
                    </div> 

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="email" value="{{employee.email}}" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SSN">Social Security Number:</label>
                            <input class="form-control" id="SSN" name="SSN" type="text" value="{{employee.SSN}}" readonly />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street):</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{employee.addressStreet}}" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressCity">Address (City):</label>
                            <input class="form-control" id="addressCity" name="addressCity" type="text" value="{{employee.addressCity}}" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressState">Address (State):</label>
                            <input class="form-control" id="addressState" name="addressState" type="text" value="{{employee.addressState}}" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressPostal">Address (Zip Code):</label>
                            <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="{{employee.addressPostal}}" />
                        </div>
                    </div>
                </div>             
            </fieldset>             
            <hr />

            <fieldset>                 
                <legend>Company Information</legend>
                <div class="row">                     
                    <div class="col-md-3">                         
                        <div class="form-group">                             
                            <label for="isManager">Manager:</label>  
                            {{#if employee.isManager}}
                                <input class="form-control" id="isManager" name="isManager" type="checkbox" checked />                         
                            {{else}}
                                <input class="form-control" id="isManager" name="isManager" type="checkbox" />
                            {{/if}}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="employeeManagerNum">Employee's Manager Number:</label>
                            <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text" value="{{employee.employeeManagerNum}}" />
                        </div>
                    </div>

                    <div class="col-md-3">                         
                        <div class="form-group">                             
                            <label for="status">Status:</label>  
                                {{#equal employee.status "Full Time"}}
                                    <input class="form-control" type="radio" name="status" value="Full Time" checked /> Full Time
                                    <input class="form-control" type="radio" name="status" value="Part Time" /> Part Time
                                {{/equal}}
                                {{#equal employee.status "Part Time"}}
                                    <input class="form-control" type="radio" name="status" value="Full Time" /> Full Time
                                    <input class="form-control" type="radio" name="status" value="Part Time" checked /> Part Time
                                {{/equal}}
                        </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="department">Department:</label>
                            <select class="form-control" name="department" id="department">
                                {{#equal employee.department "1"}}
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                {{/equal}}

                                {{#equal employee.department "2"}}
                                    <option value="1">1</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                {{/equal}}

                                {{#equal employee.department "3"}}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                {{/equal}}

                                {{#equal employee.department "4"}}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected>4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                {{/equal}}

                                {{#equal employee.department "5"}}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" selected>5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                {{/equal}}

                                {{#equal employee.department "6"}}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6" selected>6</option>
                                    <option value="7">7</option>
                                {{/equal}}

                                {{#equal employee.department "7"}}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7" selected>7</option>
                                {{/equal}}

                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="hireDate">Hire Date:</label>
                            <input class="form-control" id="hireDate" name="hireDate" type="text" value="{{employee.hireDate}}" readonly />
                        </div>>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />         
        </form>     
    </div> 
</div> 